<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="kuka_iontec_transmission" params="prefix">
    <transmission name="${prefix}joint_1_trans">
      <actuator name="${prefix}joint_1_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1.0</mechanicalReduction>
      </actuator>
      <joint name="${prefix}joint_1">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <type>transmission_interface/SimpleTransmission</type>
    </transmission>
    <transmission name="${prefix}joint_2_trans">
      <actuator name="${prefix}joint_2_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1.0</mechanicalReduction>
      </actuator>
      <joint name="${prefix}joint_2">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <type>transmission_interface/SimpleTransmission</type>
    </transmission>
    <transmission name="${prefix}joint_3_trans">
      <actuator name="${prefix}joint_3_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1.0</mechanicalReduction>
      </actuator>
      <joint name="${prefix}joint_3">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <type>transmission_interface/SimpleTransmission</type>
    </transmission>
    <transmission name="${prefix}joint_4_trans">
      <actuator name="${prefix}joint_4_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1.0</mechanicalReduction>
      </actuator>
      <joint name="${prefix}joint_4">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <type>transmission_interface/SimpleTransmission</type>
    </transmission>
    <transmission name="${prefix}joint_5_trans">
      <actuator name="${prefix}joint_5_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1.0</mechanicalReduction>
      </actuator>
      <joint name="${prefix}joint_5">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <type>transmission_interface/SimpleTransmission</type>
    </transmission>
    <transmission name="${prefix}joint_6_trans">
      <actuator name="${prefix}joint_6_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1.0</mechanicalReduction>
      </actuator>
      <joint name="${prefix}joint_6">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <type>transmission_interface/SimpleTransmission</type>
    </transmission>
  </xacro:macro>
</robot>
