<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kr10_r1100_2">
  <xacro:macro name="kuka_kr10_r1100_2_robot" params="prefix package_name">
    <link name="${prefix}base"/>
    <link name="${prefix}base_link">
      <collision>
        <geometry>
          <mesh filename="package://${package_name}/meshes/kr10_r1100_2/collision/base_link.stl"/>
        </geometry>
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      </collision>
      <inertial>
        <inertia ixx="0.1621" ixy="0.0" ixz="0.0" iyy="0.1088" iyz="0.0" izz="0.1846"/>
        <mass value="16.916"/>
        <origin rpy="1.6166 -1.2213 3.1003" xyz="-0.0371 0.0 0.1086"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="package://${package_name}/meshes/kr10_r1100_2/visual/base_link.dae"/>
        </geometry>
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      </visual>
    </link>
    <link name="${prefix}flange"/>
    <link name="${prefix}link_1">
      <collision>
        <geometry>
          <mesh filename="package://${package_name}/meshes/kr10_r1100_2/collision/link_1.stl"/>
        </geometry>
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      </collision>
      <inertial>
        <inertia ixx="0.0741" ixy="0.0" ixz="0.0" iyy="0.089" iyz="0.0" izz="0.1104"/>
        <mass value="8.416"/>
        <origin rpy="1.3045 -0.9429 -1.4227" xyz="0.0064 -0.0163 -0.1066"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="package://${package_name}/meshes/kr10_r1100_2/visual/link_1.dae"/>
        </geometry>
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      </visual>
    </link>
    <link name="${prefix}link_2">
      <collision>
        <geometry>
          <mesh filename="package://${package_name}/meshes/kr10_r1100_2/collision/link_2.stl"/>
        </geometry>
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      </collision>
      <inertial>
        <inertia ixx="0.8752" ixy="0.0" ixz="0.0" iyy="0.0922" iyz="0.0" izz="0.9157"/>
        <mass value="17.8369"/>
        <origin rpy="1.9525 -1.5422 -0.3903" xyz="0.1912 -0.0047 -0.0752"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="package://${package_name}/meshes/kr10_r1100_2/visual/link_2.dae"/>
        </geometry>
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      </visual>
    </link>
    <link name="${prefix}link_3">
      <collision>
        <geometry>
          <mesh filename="package://${package_name}/meshes/kr10_r1100_2/collision/link_3.stl"/>
        </geometry>
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      </collision>
      <inertial>
        <inertia ixx="0.0447" ixy="0.0" ixz="0.0" iyy="0.019" iyz="0.0" izz="0.0498"/>
        <mass value="6.075"/>
        <origin rpy="-2.6769 -1.3219 1.1861" xyz="0.0439 -0.0125 -0.0683"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="package://${package_name}/meshes/kr10_r1100_2/visual/link_3.dae"/>
        </geometry>
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      </visual>
    </link>
    <link name="${prefix}link_4">
      <collision>
        <geometry>
          <mesh filename="package://${package_name}/meshes/kr10_r1100_2/collision/link_4.stl"/>
        </geometry>
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      </collision>
      <inertial>
        <inertia ixx="0.0123" ixy="0.0" ixz="0.0" iyy="0.0847" iyz="0.0" izz="0.0874"/>
        <mass value="5.1624"/>
        <origin rpy="-2.2281 -1.5326 2.1798" xyz="0.0013 0.0086 -0.141"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="package://${package_name}/meshes/kr10_r1100_2/visual/link_4.dae"/>
        </geometry>
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      </visual>
    </link>
    <link name="${prefix}link_5">
      <collision>
        <geometry>
          <mesh filename="package://${package_name}/meshes/kr10_r1100_2/collision/link_5.stl"/>
        </geometry>
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      </collision>
      <inertial>
        <inertia ixx="0.0017" ixy="0.0" ixz="0.0" iyy="0.0022" iyz="0.0" izz="0.0025"/>
        <mass value="1.6128"/>
        <origin rpy="1.5679 -0.8612 -3.1003" xyz="0.0093 0.0008 -0.0265"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="package://${package_name}/meshes/kr10_r1100_2/visual/link_5.dae"/>
        </geometry>
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      </visual>
    </link>
    <link name="${prefix}link_6">
      <collision>
        <geometry>
          <mesh filename="package://${package_name}/meshes/kr10_r1100_2/collision/link_6.stl"/>
        </geometry>
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      </collision>
      <inertial>
        <inertia ixx="0.0002" ixy="0.0" ixz="0.0" iyy="0.0002" iyz="0.0" izz="0.0003"/>
        <mass value="0.734"/>
        <origin rpy="0.0 0.0 1.2234" xyz="0.0 0.0 -0.0118"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="package://${package_name}/meshes/kr10_r1100_2/visual/link_6.dae"/>
        </geometry>
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      </visual>
    </link>
    <link name="${prefix}tool0"/>
    <joint name="${prefix}base_link-base" type="fixed">
      <child link="${prefix}base"/>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <parent link="${prefix}base_link"/>
    </joint>
    <joint name="${prefix}joint_1" type="revolute">
      <axis xyz="0.0 0.0 1.0"/>
      <child link="${prefix}link_1"/>
      <limit effort="288.36" lower="-2.9671" upper="2.9671" velocity="5.236"/>
      <origin rpy="-3.1416 0.0 0.0" xyz="0.0 0.0 0.208"/>
      <parent link="${prefix}base_link"/>
    </joint>
    <joint name="${prefix}joint_2" type="revolute">
      <axis xyz="0.0 0.0 1.0"/>
      <child link="${prefix}link_2"/>
      <limit effort="311.9966" lower="-3.3161" upper="0.7854" velocity="3.927"/>
      <origin rpy="1.5708 0.0 0.0" xyz="0.025 -0.0907 -0.192"/>
      <parent link="${prefix}link_1"/>
    </joint>
    <joint name="${prefix}joint_3" type="revolute">
      <axis xyz="0.0 0.0 1.0"/>
      <child link="${prefix}link_3"/>
      <limit effort="119.759" lower="-2.0944" upper="2.7227" velocity="5.7596"/>
      <origin rpy="0.0 0.0 0.0" xyz="0.56 0.0 -0.0042"/>
      <parent link="${prefix}link_2"/>
    </joint>
    <joint name="${prefix}joint_4" type="revolute">
      <axis xyz="0.0 0.0 1.0"/>
      <child link="${prefix}link_4"/>
      <limit effort="46.0803" lower="-3.2289" upper="3.2289" velocity="6.2832"/>
      <origin rpy="1.5708 0.0 -1.5708" xyz="0.196 -0.025 -0.0865"/>
      <parent link="${prefix}link_3"/>
    </joint>
    <joint name="${prefix}joint_5" type="revolute">
      <axis xyz="0.0 0.0 1.0"/>
      <child link="${prefix}link_5"/>
      <limit effort="41.6135" lower="-2.0944" upper="2.0944" velocity="6.2832"/>
      <origin rpy="0.0 1.5708 1.5708" xyz="0.0 0.0505 -0.319"/>
      <parent link="${prefix}link_4"/>
    </joint>
    <joint name="${prefix}joint_6" type="revolute">
      <axis xyz="0.0 0.0 1.0"/>
      <child link="${prefix}link_6"/>
      <limit effort="28.0386" lower="-6.1087" upper="6.1087" velocity="7.5573"/>
      <origin rpy="1.5708 0.0 -1.5708" xyz="0.0615 0.0 -0.0505"/>
      <parent link="${prefix}link_5"/>
    </joint>
    <joint name="${prefix}link_6-flange" type="fixed">
      <child link="${prefix}flange"/>
      <origin rpy="0.0 1.5708 0.0" xyz="0.0 0.0 -0.0285"/>
      <parent link="${prefix}link_6"/>
    </joint>
    <joint name="${prefix}link_6-tool0" type="fixed">
      <child link="${prefix}tool0"/>
      <origin rpy="3.1416 -0.0 3.1416" xyz="0.0 0.0 -0.0285"/>
      <parent link="${prefix}link_6"/>
    </joint>
  </xacro:macro>
</robot>
