<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kr6_r900_2">
  <xacro:macro name="kuka_kr6_r900_2_robot" params="prefix package_name">
    <link name="${prefix}base"/>
    <link name="${prefix}base_link">
      <collision>
        <geometry>
          <mesh filename="package://${package_name}/meshes/kr6_r900_2/collision/base_link.stl"/>
        </geometry>
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      </collision>
      <inertial>
        <inertia ixx="0.1621" ixy="0.0" ixz="0.0" iyy="0.1088" iyz="0.0" izz="0.1846"/>
        <mass value="16.916"/>
        <origin rpy="1.6166 -1.2213 3.1003" xyz="-0.0371 0.0 0.1086"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="package://${package_name}/meshes/kr6_r900_2/visual/base_link.dae"/>
        </geometry>
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      </visual>
    </link>
    <link name="${prefix}flange"/>
    <link name="${prefix}link_1">
      <collision>
        <geometry>
          <mesh filename="package://${package_name}/meshes/kr6_r900_2/collision/link_1.stl"/>
        </geometry>
        <origin rpy="-3.1415853071795867 0.0 -0.0" xyz="0.0 -1.528053322981866e-06 0.20799999999438715"/>
      </collision>
      <inertial>
        <inertia ixx="0.0741" ixy="0.0" ixz="0.0" iyy="0.089" iyz="0.0" izz="0.1104"/>
        <mass value="8.416"/>
        <origin rpy="1.3045 -0.9429 -1.4227" xyz="0.0064 -0.0163 -0.1066"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="package://${package_name}/meshes/kr6_r900_2/visual/link_1.dae"/>
        </geometry>
        <origin rpy="-3.1415853071795867 0.0 -0.0" xyz="0.0 -1.528053322981866e-06 0.20799999999438715"/>
      </visual>
    </link>
    <link name="${prefix}link_2">
      <collision>
        <geometry>
          <mesh filename="package://${package_name}/meshes/kr6_r900_2/collision/link_2.stl"/>
        </geometry>
        <origin rpy="1.5708 4.70197740325743e-38 1.5707963267948966" xyz="-0.39999966683759874 -0.024999999999999977 -0.09069994122810648"/>
      </collision>
      <inertial>
        <inertia ixx="0.5483" ixy="0.0" ixz="0.0" iyy="0.0872" iyz="0.0" izz="0.5885"/>
        <mass value="16.7929"/>
        <origin rpy="1.8411 -1.5374 -0.2834" xyz="0.1474 -0.0045 -0.0737"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="package://${package_name}/meshes/kr6_r900_2/visual/link_2.dae"/>
        </geometry>
        <origin rpy="1.5708 4.70197740325743e-38 1.5707963267948966" xyz="-0.39999966683759874 -0.024999999999999977 -0.09069994122810648"/>
      </visual>
    </link>
    <link name="${prefix}link_3">
      <collision>
        <geometry>
          <mesh filename="package://${package_name}/meshes/kr6_r900_2/collision/link_3.stl"/>
        </geometry>
        <origin rpy="1.5708 -0.0 -0.0" xyz="-0.02500000000000003 0.8549996668375988 -0.08649994122810648"/>
      </collision>
      <inertial>
        <inertia ixx="0.0426" ixy="0.0" ixz="0.0" iyy="0.0189" iyz="0.0" izz="0.0478"/>
        <mass value="5.988"/>
        <origin rpy="-2.6751 -1.3259 1.1947" xyz="0.0417 -0.0123 -0.068"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="package://${package_name}/meshes/kr6_r900_2/visual/link_3.dae"/>
        </geometry>
        <origin rpy="1.5708 -0.0 -0.0" xyz="-0.02500000000000003 0.8549996668375988 -0.08649994122810648"/>
      </visual>
    </link>
    <link name="${prefix}link_4">
      <collision>
        <geometry>
          <mesh filename="package://${package_name}/meshes/kr6_r900_2/collision/link_4.stl"/>
        </geometry>
        <origin rpy="-2.3561908169838683 1.570791132098422 -2.356194490195718" xyz="-0.8799988550533341 8.705620946852126e-07 0.2210032324160695"/>
      </collision>
      <inertial>
        <inertia ixx="0.0105" ixy="0.0" ixz="0.0" iyy="0.0442" iyz="0.0" izz="0.0472"/>
        <mass value="4.6999"/>
        <origin rpy="-2.3301 -1.5211 2.286" xyz="0.0014 0.0094 -0.0816"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="package://${package_name}/meshes/kr6_r900_2/visual/link_4.dae"/>
        </geometry>
        <origin rpy="-2.3561908169838683 1.570791132098422 -2.356194490195718" xyz="-0.8799988550533341 8.705620946852126e-07 0.2210032324160695"/>
      </visual>
    </link>
    <link name="${prefix}link_5">
      <collision>
        <geometry>
          <mesh filename="package://${package_name}/meshes/kr6_r900_2/collision/link_5.stl"/>
        </geometry>
        <origin rpy="1.5708036732051034 -1.3492460511333462e-11 3.673218595765785e-06" xyz="-0.44500304693128084 0.8799990405410575 -0.05049753160908297"/>
      </collision>
      <inertial>
        <inertia ixx="0.0017" ixy="0.0" ixz="0.0" iyy="0.0022" iyz="0.0" izz="0.0025"/>
        <mass value="1.6128"/>
        <origin rpy="1.5679 -0.8612 -3.1003" xyz="0.0093 0.0008 -0.0265"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="package://${package_name}/meshes/kr6_r900_2/visual/link_5.dae"/>
        </geometry>
        <origin rpy="1.5708036732051034 -1.3492460511333462e-11 3.673218595765785e-06" xyz="-0.44500304693128084 0.8799990405410575 -0.05049753160908297"/>
      </visual>
    </link>
    <link name="${prefix}link_6">
      <collision>
        <geometry>
          <mesh filename="package://${package_name}/meshes/kr6_r900_2/collision/link_6.stl"/>
        </geometry>
        <origin rpy="-2.6779399020961754 1.5707881132525563 -2.6779472485198745" xyz="-0.879997180045544 4.3288923671780846e-06 0.5065062793323466"/>
      </collision>
      <inertial>
        <inertia ixx="0.0002" ixy="0.0" ixz="0.0" iyy="0.0002" iyz="0.0" izz="0.0003"/>
        <mass value="0.734"/>
        <origin rpy="0.0 0.0 1.2234" xyz="0.0 0.0 -0.0118"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="package://${package_name}/meshes/kr6_r900_2/visual/link_6.dae"/>
        </geometry>
        <origin rpy="-2.6779399020961754 1.5707881132525563 -2.6779472485198745" xyz="-0.879997180045544 4.3288923671780846e-06 0.5065062793323466"/>
      </visual>
    </link>
    <link name="${prefix}tool0"/>
    <joint name="${prefix}base_link-base" type="fixed">
      <child link="${prefix}base"/>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <parent link="${prefix}base_link"/>
    </joint>
    <joint name="${prefix}joint_1" type="revolute">
      <axis xyz="0.0 0.0 1.0"/>
      <child link="${prefix}link_1"/>
      <limit effort="334.8" lower="-2.9671" upper="2.9671" velocity="6.2832"/>
      <origin rpy="-3.1416 0.0 0.0" xyz="0.0 0.0 0.208"/>
      <parent link="${prefix}base_link"/>
    </joint>
    <joint name="${prefix}joint_2" type="revolute">
      <axis xyz="0.0 0.0 1.0"/>
      <child link="${prefix}link_2"/>
      <limit effort="260.6565" lower="-3.3161" upper="0.7854" velocity="5.236"/>
      <origin rpy="1.5708 0.0 0.0" xyz="0.025 -0.0907 -0.192"/>
      <parent link="${prefix}link_1"/>
    </joint>
    <joint name="${prefix}joint_3" type="revolute">
      <axis xyz="0.0 0.0 1.0"/>
      <child link="${prefix}link_3"/>
      <limit effort="137.8274" lower="-2.0944" upper="2.7227" velocity="6.2832"/>
      <origin rpy="0.0 0.0 0.0" xyz="0.455 0.0 -0.0042"/>
      <parent link="${prefix}link_2"/>
    </joint>
    <joint name="${prefix}joint_4" type="revolute">
      <axis xyz="0.0 0.0 1.0"/>
      <child link="${prefix}link_4"/>
      <limit effort="43.2821" lower="-3.2289" upper="3.2289" velocity="7.854"/>
      <origin rpy="1.5708 0.0 -1.5708" xyz="0.196 -0.025 -0.0865"/>
      <parent link="${prefix}link_3"/>
    </joint>
    <joint name="${prefix}joint_5" type="revolute">
      <axis xyz="0.0 0.0 1.0"/>
      <child link="${prefix}link_5"/>
      <limit effort="45.6696" lower="-2.0944" upper="2.0944" velocity="7.854"/>
      <origin rpy="0.0 1.5708 1.5708" xyz="0.0 0.0505 -0.224"/>
      <parent link="${prefix}link_4"/>
    </joint>
    <joint name="${prefix}joint_6" type="revolute">
      <axis xyz="0.0 0.0 1.0"/>
      <child link="${prefix}link_6"/>
      <limit effort="23.2939" lower="-6.1087" upper="6.1087" velocity="9.4248"/>
      <origin rpy="1.5708 0.0 -1.5708" xyz="0.0615 0.0 -0.0505"/>
      <parent link="${prefix}link_5"/>
    </joint>
    <joint name="${prefix}link_6-flange" type="fixed">
      <child link="${prefix}flange"/>
      <origin rpy="0.0 1.5708 0.0" xyz="0.0 0.0 -0.0285"/>
      <parent link="${prefix}link_6"/>
    </joint>
    <joint name="${prefix}link_6-tool0" type="fixed">
      <child link="${prefix}tool0"/>
      <origin rpy="3.1416 -0.0 3.1416" xyz="0.0 0.0 -0.0285"/>
      <parent link="${prefix}link_6"/>
    </joint>
  </xacro:macro>
</robot>
