<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="mrob_kuka_ros2_control" params="name prefix client_ip controller_ip control_mode consequent_lost_packets lost_packets_in_timeframe timeframe_ms use_fake_hardware:=false gazebo_sim:=false">

    <ros2_control name="${name}" type="system">
      <hardware>
        <xacro:if value="${use_fake_hardware}">
          <plugin>mock_components/GenericSystem</plugin>
          <param name="fake_sensor_commands">false</param>
          <param name="state_following_offset">0.0</param>
        </xacro:if>
        <xacro:unless value="${use_fake_hardware}">
          <xacro:if value="${gazebo_sim}">
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
          </xacro:if>
          <xacro:unless value="${gazebo_sim}">
            <plugin>kuka_rox::KukaRoXHardwareInterface</plugin>
            <param name="client_ip">${client_ip}</param>
            <param name="controller_ip">${controller_ip}</param>
            <param name="control_mode">${control_mode}</param>
            <param name="consequent_lost_packets">${consequent_lost_packets}</param>
            <param name="lost_packets_in_timeframe">${lost_packets_in_timeframe}</param>
            <param name="timeframe_ms">${timeframe_ms}</param>
          </xacro:unless>
        </xacro:unless>
        <plugin>gazebo_ros2_control/GazeboSystem</plugin>
      </hardware>
  
      <joint name="${prefix}twist/linear">
        <command_interface name="x"/>
        <command_interface name="y"/>
        <command_interface name="z"/>
        <state_interface name="x"/>
        <state_interface name="y"/>
        <state_interface name="z"/>
      </joint>
      <joint name="${prefix}twist/angular">
        <command_interface name="x"/>
        <command_interface name="y"/>
        <command_interface name="z"/>
        <state_interface name="x"/>
        <state_interface name="y"/>
        <state_interface name="z"/>
      </joint>
      

      <joint name="left_wheel_motor">
          <command_interface name="velocity">
            <param name="min">-1</param>
            <param name="max">1</param>
          </command_interface>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
        </joint>
        <joint name="right_wheel_motor">
          <command_interface name="velocity">
            <param name="min">-1</param>
            <param name="max">1</param>
          </command_interface>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
        </joint>

    </ros2_control>
 <xacro:if value="${gazebo_sim}">
<!-- config file with gazebo parameters-->
            <xacro:include filename="$(find kuka_mobile_robot_support)/gazebo/diffbot.gazebo.xacro" />
            <xacro:diffbot_gazebo  prefix="" ros2_control_sim="true"/>
 </xacro:if>

  </xacro:macro>

</robot>
