<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="lbr_iisy3_r760">
  <!-- Import iisy gazebo urdf file  -->
  <xacro:include filename="$(find kuka_lbr_iisy_support)/urdf/lbr_iisy3_r760_gazebo_macro.xacro"/>
  <!-- Read additional arguments  -->
  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="x" default="0"/>
  <xacro:arg name="y" default="0"/>
  <xacro:arg name="z" default="0"/>
  <xacro:arg name="roll" default="0"/>
  <xacro:arg name="pitch" default="0"/>
  <xacro:arg name="yaw" default="0"/>
  <xacro:lbr_iisy3_r760_gazebo_macro prefix="$(arg prefix)">
    <origin xyz="$(arg x) $(arg y) $(arg z)" rpy="$(arg roll) $(arg pitch) $(arg yaw)"/>
  </xacro:lbr_iisy3_r760_gazebo_macro>

  <xacro:include filename="$(find kuka_lbr_iisy_support)/urdf/gazebo_plugin_macro.xacro" />
  <xacro:gazebo_plugin_macro/>

</robot>
