<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kr210_r3100-2">
  <!-- Import urdf file  -->
  <xacro:include filename="$(find kuka_quantec_support)/urdf/kr210_r3100-2_macro.xacro"/>

  <!-- Read additional arguments  -->
  <xacro:arg name="use_fake_hardware" default="false" />

  <xacro:kuka_kr210_r3100-2_robot prefix="" use_fake_hardware="$(arg use_fake_hardware)"/>
</robot>
