<?xml version="1.0"?>
<!-- Basic KUKA mobile base -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="KUKA_MR">
<!-- Import mrob urdf file  -->
  <!-- <xacro:include filename="$(find kuka_mobile_robot_support)/urdf/diffbot_kuka_macro.xacro" /> -->
  <xacro:include filename="$(find kuka_mobile_robot_support)/urdf/mrob_kuka_macro.xacro" />

   <!-- Read additional arguments  -->
  <xacro:arg name="gazebo_sim" default="false" />
  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="controller_ip" default="0.0.0.0"/>
  <xacro:arg name="client_ip" default="0.0.0.0"/>
  <xacro:arg name="use_fake_hardware" default="false"/>
  <xacro:arg name="roundtrip_time" default="0"/>
  <xacro:arg name="qos_config_file" default=""/>
  <xacro:arg name="x" default="0"/>
  <xacro:arg name="y" default="0"/>
  <xacro:arg name="z" default="0"/>
  <xacro:arg name="roll" default="0"/>
  <xacro:arg name="pitch" default="0"/>
  <xacro:arg name="yaw" default="0"/>
  <xacro:mrob_kuka prefix="$(arg prefix)" controller_ip="$(arg controller_ip)" client_ip="$(arg client_ip)" use_fake_hardware="$(arg use_fake_hardware)" roundtrip_time="$(arg roundtrip_time)" qos_config_file="$(arg qos_config_file)">
    <origin xyz="$(arg x) $(arg y) $(arg z)" rpy="$(arg roll) $(arg pitch) $(arg yaw)"/>
  </xacro:mrob_kuka>
</robot>
