<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="lbr_iiwa14_r820">
  <!-- Import iiwa macro files  -->
  <xacro:include filename="$(find kuka_lbr_iiwa_support)/urdf/lbr_iiwa14_r820_macro.xacro"/>
  <xacro:include filename="$(find kuka_lbr_iiwa_support)/urdf/lbr_iiwa_ros2_control_macro.xacro"/>
  <!-- Read additional arguments  -->
  <xacro:arg name="controller_ip" default="0.0.0.0"/>
  <xacro:arg name="client_ip" default="0.0.0.0"/>
  <xacro:arg name="client_port" default="30200"/>
  <xacro:arg name="mode" default="hardware"/>
  <xacro:arg name="roundtrip_time" default="0"/>
  <xacro:arg name="x" default="0"/>
  <xacro:arg name="y" default="0"/>
  <xacro:arg name="z" default="0"/>
  <xacro:arg name="roll" default="0"/>
  <xacro:arg name="pitch" default="0"/>
  <xacro:arg name="yaw" default="0"/>
  <xacro:arg name="prefix" default=""/>
  <xacro:kuka_lbr_iiwa_ros2_control name="$(arg prefix)lbr_iiwa14_r820" prefix="$(arg prefix)" io_access="false" mode="$(arg mode)" roundtrip_time="$(arg roundtrip_time)" controller_ip="$(arg controller_ip)" client_ip="$(arg client_ip)" client_port="$(arg client_port)"/>
  <xacro:kuka_lbr_iiwa14_r820_robot prefix="$(arg prefix)" package_name="kuka_lbr_iiwa_support">
    <origin xyz="$(arg x) $(arg y) $(arg z)" rpy="$(arg roll) $(arg pitch) $(arg yaw)"/>
  </xacro:kuka_lbr_iiwa14_r820_robot>
</robot>
