<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="kuka_lbr_iiwa_transmission" params="prefix">
    <transmission name="${prefix}joint_a1_trans">
      <actuator name="${prefix}joint_a1_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1.0</mechanicalReduction>
      </actuator>
      <joint name="${prefix}joint_a1">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <type>transmission_interface/SimpleTransmission</type>
    </transmission>
    <transmission name="${prefix}joint_a2_trans">
      <actuator name="${prefix}joint_a2_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1.0</mechanicalReduction>
      </actuator>
      <joint name="${prefix}joint_a2">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <type>transmission_interface/SimpleTransmission</type>
    </transmission>
    <transmission name="${prefix}joint_a3_trans">
      <actuator name="${prefix}joint_a3_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1.0</mechanicalReduction>
      </actuator>
      <joint name="${prefix}joint_a3">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <type>transmission_interface/SimpleTransmission</type>
    </transmission>
    <transmission name="${prefix}joint_a4_trans">
      <actuator name="${prefix}joint_a4_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1.0</mechanicalReduction>
      </actuator>
      <joint name="${prefix}joint_a4">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <type>transmission_interface/SimpleTransmission</type>
    </transmission>
    <transmission name="${prefix}joint_a5_trans">
      <actuator name="${prefix}joint_a5_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1.0</mechanicalReduction>
      </actuator>
      <joint name="${prefix}joint_a5">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <type>transmission_interface/SimpleTransmission</type>
    </transmission>
    <transmission name="${prefix}joint_a6_trans">
      <actuator name="${prefix}joint_a6_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1.0</mechanicalReduction>
      </actuator>
      <joint name="${prefix}joint_a6">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <type>transmission_interface/SimpleTransmission</type>
    </transmission>
    <transmission name="${prefix}joint_a7_trans">
      <actuator name="${prefix}joint_a7_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1.0</mechanicalReduction>
      </actuator>
      <joint name="${prefix}joint_a7">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <type>transmission_interface/SimpleTransmission</type>
    </transmission>
  </xacro:macro>
</robot>