<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="kuka_kl_ros2_control_joints" params="prefix">
    <joint name="${prefix}joint_1">
      <param name="type">prismatic</param>
      <param name="is_external">true</param>
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <xacro:unless value="${mode == 'gazebo'}">
        <command_interface name="velocity"/>
        <command_interface name="effort"/>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="effort">
          <param name="initial_value">0.0</param>
        </state_interface>
      </xacro:unless>
    </joint>
  </xacro:macro>
</robot>
