<?xml version="1.0"?>
<!--
Copied and modified from ROS1 example:
https://github.com/ros-simulation/gazebo_ros_demos/blob/kinetic-devel/diffbot_description/urdf/diffbot.gazebo
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="diffbot_gazebo" params="prefix ros2_control_sim:=false">



    <!-- left wheel -->
    <gazebo reference="${prefix}left_wheel">
      <mu1>0.95</mu1>
      <mu2>0.95</mu2>
      <material>Gazebo/Red</material>
    </gazebo>

    <!-- right wheel -->
    <gazebo reference="${prefix}right_wheel">
      <mu1>0.95</mu1>
      <mu2>0.95</mu2>
      <material>Gazebo/Red</material>
    </gazebo>

     <!-- Base link -->
    <gazebo reference="${prefix}generic_mr_body">
      <material>Gazebo/Orange</material>
    </gazebo>
    
    <!-- Caster links -->
    <gazebo reference="${prefix}caster_wheel_fl_link">
      <mu1>0.001</mu1>
      <mu2>0.001</mu2>
      <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="${prefix}caster_wheel_rl_link">
      <mu1>0.001</mu1>
      <mu2>0.001</mu2>
      <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="${prefix}caster_wheel_bl_link">
      <mu1>0.001</mu1>
      <mu2>0.001</mu2>
      <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="${prefix}caster_wheel_br_link">
      <mu1>0.001</mu1>
      <mu2>0.001</mu2>
      <material>Gazebo/Black</material>
    </gazebo>
    
    
    <xacro:if value="${ros2_control_sim}">
      <gazebo>
        <!-- Joint state publisher -->
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so" >
          <robot_param>robot_description</robot_param>
          <robot_param_node>robot_state_publisher</robot_param_node>
          <parameters>$(find kuka_rox_hw_interface)/config/ros2_controller_config.yaml</parameters> 
          <parameters>$(find kuka_rox_hw_interface)/config/diff_drive_controller_config.yaml</parameters> 

          
        </plugin>
      </gazebo>
      <!-- diff drive controller plugin without ros2_control -->
    </xacro:if>
     <xacro:unless value="${ros2_control_sim}"> 
      <gazebo>
              <plugin name="diff_drive" filename="libgazebo_ros_diff_drive.so">

                   <!-- Wheel Information  -->
                  <left_joint>left_wheel_motor</left_joint>
                  <right_joint>right_wheel_motor</right_joint>
                  <wheel_separation>0.64</wheel_separation>
                  <wheel_diameter>0.06</wheel_diameter>


                    <!-- Limits  -->
                  <max_wheel_torque>400</max_wheel_torque>
                  <max_wheel_acceleration>1.0</max_wheel_acceleration>

                  
                    <!-- Output  -->
                  <odometry_frame>odom</odometry_frame>
                  <robot_base_frame>generic_mr_body_dummy</robot_base_frame>

                  <publish_odom>true</publish_odom>
                  <publish_odom_tf>true</publish_odom_tf>
                  <publish_wheel_tf>true</publish_wheel_tf>

              </plugin>
          </gazebo> 
      </xacro:unless>
  </xacro:macro>

</robot>
