<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="kl_srdf_adjacent_links" params="robot_base_link">
    <!-- adjacent links -->
    <disable_collisions link1="rail_base_link" link2="rail_moving_link" reason="Adjacent"/>
    <disable_collisions link1="rail_moving_link" link2="${robot_base_link}" reason="Adjacent"/>
  </xacro:macro>
  <xacro:macro name="kl_srdf_joints" params="">
    <!-- srdf joints TODO remove redundancy -->
    <joint name="rail_joint" value="0"/>
  </xacro:macro>
</robot>
