<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="kl_srdf_adjacent_links" params="robot_base_link prefix">
    <!-- adjacent links -->
    <disable_collisions link1="${prefix}base_link" link2="${prefix}link_1" reason="Adjacent"/>
    <disable_collisions link1="${prefix}link_1" link2="${robot_base_link}" reason="Adjacent"/>
  </xacro:macro>
  <xacro:macro name="kl_srdf_joints" params="prefix">
    <!-- srdf joints TODO remove redundancy -->
    <joint name="${prefix}joint_1" value="0"/>
  </xacro:macro>
</robot>
