<?xml version="1.0" encoding="utf-8"?>
<!--This does not replace URDF, and is not an extension of URDF.
    This is a format for representing semantic information about the robot structure.
    A URDF file must exist for this robot as well, where the joints and the links that are referenced are defined
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="$(arg composed_model)">
  <xacro:arg name="composed_model" default="robot_with_external_axis"/>
  <xacro:arg name="kl_urdf_package" default="kuka_kl_support"/>
  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="kl_prefix" default="rail_"/>

  <xacro:property name="kl_urdf_package_value" value="$(arg kl_urdf_package)"/>
  <xacro:property name="prefix_value" value="$(arg prefix)"/>
  <xacro:property name="kl_prefix_value" value="$(arg kl_prefix)"/>

  <xacro:include filename="robot_arm_macro.xacro"/>
  <xacro:robot_with_external_axis_srdf
    prefix="${prefix_value}"
    kl_prefix="${kl_prefix_value}"
    kl_urdf_package="${kl_urdf_package_value}"/>
</robot>
