<?xml version="1.0" ?>

<robot name="kuka_kr6r700sixx" xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include filename="$(find kuka_agilus_support)/urdf/kr6_r700_sixx.urdf.xacro"/>
  <xacro:include filename="$(find kuka_omnimove_e575_support)/urdf/omnimove.xacro"/>
  <xacro:omnimove prefix="omnimove_"/>
  <xacro:omnimove_ros2_control name="omnimove"/>
  <joint name="omnibase" type="fixed">
    <parent link="omnimove_base"/>
    <child link="base_link"/>
  </joint>
</robot>
